@use 'variables' as var;
@use 'mixins' as mx; 

body{
    background-color: var.$background;
}

.container{
    width: 100%;
    max-width: var.$container;
    margin: 0 auto;
}

.tag{
    padding: 8px;
    border-radius: 8px;
    color: var.$primary-color;
    background-color: var.$secondary-color;
    display: inline-block;
    margin-bottom: 24px;
}

header{
    background-color: var.$primary-color;
    
    .nav{
        @include mx.displayFlex(40px, space-between);
    }

    nav{ 
        ul{
            @include mx.displayFlex(72px, center);
            a{
                color: var.$border;

                &:hover{
                    color: var.$black;
                }
            }
        }
    }

    .search{
        width: 100%;
        max-width: 843px;
        margin: 0 auto;
        padding: 100px 64px;

        h2{
            color: var.$background;
            @include mx.displayFlex( center);
        }

        form {
            background-color: #FFFF;
            border-radius: 8px;
            @include mx.displayFlex(center);
            padding: 10px;
            margin-top: 15px;
        }

        input{
            font-family: Rubik;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
            text-align: center;
            border: none;
            margin-right: 300px;


        }

        button{
            width: 231px;
            height: 48px;
            top: 254px;
            left: 1136px;
            border-radius: 8px;
            width: 232px;
            height: 60px;
            background-color: black;

                span{
                    color: white;
                    font-family: Rubik;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 100%;
                    text-align: center;

                }
        }

    }

    img{
        width: 232px;
        height: 60px;
        margin-top: 10px;
    }
   
}



main{

    h1{
        padding-top: 60px;
        max-width: 584px;
        padding-bottom: 32px;
    }

    .state{
       

        .cards{
            @include mx.displayFlex(36px, center);
            margin-bottom: 60px;
            .card{
                border-radius: 8px;
                border: 1px solid var.$border;
                overflow: hidden;

                .card-content{
                    padding: 24px;
                    background-color: white;

                    p{
                        &:first-child{
                            margin-bottom: 8px;
                            font-weight: bold;
                        }
                        &:nth-child(2){
                            margin-bottom: 24px;
                            color: var.$gray;
                        }
                    }

                    a{
                        text-transform: uppercase;
                        font-weight: bold;

                        span{
                            color: var.$primary-color;
                            margin-right: 16px;
                        }
                    }
                }
            }
        }
    }
}

.banner{
    background-image: url('../images/barra.png');
    background-repeat: no-repeat;
    height: 320px;
    background-position: center top;

    .container{
        @include mx.displayFlex(0, flex-start);
        height: 320px;
    }

    .spacing{
        height: 100px;
        width: 602px;
    }

    .content{
        width: 100%;
        max-width: 420px;

        .tag{
            margin-bottom: 8px;
        }

        h3{
            font-size: 4rem;
            font-weight: 500;
        }
    }
}

.overview{
    margin-top: 96px;
    
    h3{
        font-size: 3.2rem;
        margin-bottom: 32px;
    }

    .content{
        background-color: white;
        border: 1px solid var.$border;
        border-radius: 8px;
        padding: 54px;

        .items{
            @include mx.displayFlex(100px, space-evenly);
            text-align: center;

            .item{
                p:first-child{
                    font-weight: bold;
                    margin-bottom: 4px;
                }

                p:nth-child(2){
                    font-size: 2.4rem;
                    color: var.$gray;
                }
            }
        }


    }
}

footer{
    
    li{
        width: 202px;
        height: 32px;
        top: 2410px;
        left: 38px;        
    }

    .navs{
        display: block;
        nav{
        
            h2{
                font-weight: bold;
                margin-bottom: 4px;
            }
    
            a{

                font-size:2rem;
                color: var.$gray;
            }

        }
       
    }
}